<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="anticaptcha" version="1.0.5" targetFramework="net47" />
  <package id="Brotli.NET" version="1.0.19" targetFramework="net47" />
  <package id="DotNetKit.Wpf.AutoCompleteComboBox" version="1.2.0" targetFramework="net47" />
  <package id="EO.WebBrowser" version="18.2.74" targetFramework="net47" />
  <package id="Extended.Wpf.Toolkit" version="3.4.0" targetFramework="net47" />
  <package id="HtmlAgilityPack" version="1.8.7" targetFramework="net47" />
  <package id="Jurassic" version="3.0.0-alpha2" targetFramework="net47" />
  <package id="M.AntiCaptcha" version="1.0.0" targetFramework="net47" />
  <package id="MSTest.TestFramework" version="1.3.2" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net47" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net47" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net47" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="net47" />
  <package id="Rx-Main" version="2.2.5" targetFramework="net47" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="net47" />
  <package id="Rx-XAML" version="2.2.5" targetFramework="net47" />
  <package id="System.Windows.Interactivity.WPF" version="2.0.20525" targetFramework="net47" />
  <package id="WpfAnimatedGif" version="1.4.17" targetFramework="net47" />
  <package id="WpfAutoCompleteControls" version="0.16" targetFramework="net47" />
</packages>