<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.4.1" targetFramework="net47" />
  <package id="Common.Logging.Core" version="3.4.1" targetFramework="net47" />
  <package id="Flurl" version="2.7.1" targetFramework="net47" />
  <package id="Flurl.Http" version="2.3.2" targetFramework="net47" />
  <package id="HttpMachine.PCL" version="3.1.0" targetFramework="net47" />
  <package id="Microsoft.CSharp" version="4.0.1" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net47" />
  <package id="Noobot.Core" version="3.2.76" targetFramework="net47" />
  <package id="SimpleHttpListener" version="5.1.2" targetFramework="net47" />
  <package id="SlackConnector" version="4.2.65" targetFramework="net47" />
  <package id="SocketLite.PCL" version="5.1.1" targetFramework="net47" />
  <package id="StructureMap" version="4.7.0" targetFramework="net47" />
  <package id="System.Reactive" version="4.1.0" targetFramework="net47" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="net47" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="net47" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.1" targetFramework="net47" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net47" />
  <package id="WebsocketClientLite.PCL" version="5.0.0" targetFramework="net47" />
  <package id="HtmlAgilityPack" version="1.8.8" targetFramework="net47" />
</packages>