<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net47" />
  <package id="Portable.BouncyCastle" version="1.8.2" targetFramework="net47" />
  <package id="Selenium.Firefox.WebDriver" version="0.21.0" targetFramework="net47" />
  <package id="Selenium.Support" version="3.14.0" targetFramework="net47" />
  <package id="Selenium.WebDriver" version="3.14.0" targetFramework="net47" />
  <package id="StreamExtended" version="1.0.179" targetFramework="net47" />
  <package id="Titanium.Web.Proxy" version="3.0.632" targetFramework="net47" />
</packages>